.idmlMainHeading {
    font-size: 20px;
	color: black;
	text-align: center;
}
.idmlProjectName {
    font-size: 24px;
    color: #5588DD;
    text-align: center;
	font-weight: bold;
}
h1 {
    font-size: 26px;
	color: black;
}
h2 {
    font-size: 20px;
    color: #5588DD;
}
h3 {
    font-size: 18px;    
    color: #5588DD;
}
h4 {
    font-size: 16px;
    color: #5588DD;
}
h1, h2, h3, h4, h5 {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 8px 0 0 0;
}
table {
    border-collapse: collapse;    
}
th, td {
    padding: 2px;
    vertical-align: top;
    text-align: left;
}
th {
    font-family: Arial, sans-serif;
	font-size: 11px;
}
td {
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 12px;
    border: 1px solid #CCC;
}

.idmlListName {
    font-family: 'Courier New', courier, fixed, monospace;
    font-size: .9em;
}
.idmlEntityName, .idmlAttrName {
    font-family: 'Courier New', courier, fixed, monospace;
    font-size: .7em;
    white-space: nowrap;
}
.idmlEntityName {
    font-weight: bold;
}
.idmlLabel {
    
}
